.home-container{
    /* background: linear-gradient(39.97deg,#fbfbfd 0.79%, #fbfbfd 79.29%); */
    /* background: linear-gradient(18deg, 232f3e -177.21%, white 58.29%); 
    background: linear-gradient(379deg,lightblue 77.79%,#fbfbfd 54.29%);
    background: linear-gradient(682deg,lightblue 14.79%,#fbfbfd 71.29%);*/
    background:  linear-gradient(96deg,lightblue -218.21%,#fbfbfd 331.29%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto ;
    padding: 100px 10%;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;;
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.header-text > h1 {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.2px;
    color:#232f3e;
    margin: 10px;
}

.header-text > p {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    color:#232f3e;
    margin: 10px;
}

.head-btns {
    display: flex;
    flex-direction: low;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 10px;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 36px;
    height: 52px;
    left: 0;
    top: 0px;
    text-decoration: none;
    box-shadow: 0px 4px 31px rgba(0,0,0,0.15);
    border-radius: 39px;
    margin: 4px;
}

.btn-white{
    background: #fff;
    color: #112d57;

}

.btn-transparent{
    border:1px solid #fff;
    box-sizing: border-box;
    color:#232f3e;
}

.btn:hover{
    box-shadow: 1px 10px 32px rgba(0,0,0,0.45);
    transition: all 0.3s ease-in-out;
}

.btn-text {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
}

.splash-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPic{
   width:200px;
   margin: 10px;

}

.home-anime{
    margin-bottom: -80px;
    margin-top: -40px;
}

/* for small screens */

@media only screen and (max-height: 550px){
    .home-anime{
        width: 400px;
    }
}

/* for small width screens */


@media only screen and (max-width: 640px){
    .home-anime{
        width: 80%;
        align-self: center;
        margin-bottom: -20px;
    }
}

.head-btns{
    margin: 10px 10px 35px 10px;
}